@font-face {
  font-family: 'Boldstrom';
  src: url("../fonts/Boldstrom.ttf");
}

@font-face {
  font-family: 'CimeroPro';
  src: url("../fonts/CimeroPro.otf");
}


@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Bebas Book';
  src: url("../fonts/BebasNeue-Book.ttf");
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'Golos';
  src: url("../fonts/golos-text_regular.woff2");
  font-weight: 100;
}