@import "_variables";

@media screen and (max-width: 1500px) {
  .prices {
    &__wrapper {
      margin-left: 0;
    }
    &__card {
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 1388px) {
  .header {
    max-width: 100vw;
    overflow: hidden;
    &__img {
      height: 80%;
      right: 0;
      img {
        object-fit: contain;
      }
    }
    &__greetings {
      padding-top: $lg;
    }
    &__textItem {
      h2 {
        font-size: 80px;
      }
    }
  }
  .prices {
    &__wrapper {
      margin-left: 0;
    }
    &__card {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    padding-top: $lg;
  }
  .logotype {
    left: $md;
    top: $sm;
  }
  .header {
    height: auto;
    &__content {
      height: auto;
    }
    &__greetings {
      padding-top: 0;
      align-items: center;
      margin-bottom: $md * 4;
    }
    &__heading {
      text-align: center;
      font-size: 24px;
    }
    &__description {
      text-align: center;
    }
    &__img {
      position: static;
      padding-top: $lg;
      transform: none;
    }

    &__textItem {
      h2 {
        font-size: 60px;
        width: min-content;
        margin-bottom: $md;
        line-height: 0.8;
        margin-top: 10px;
      }
    }

    &__info {
      position: static;
      margin-left: $md;
      p {
        line-height: 1.3;
      }
    }

    .button {
      margin: 0 auto;
    }
  }
  .navigation, .social {
    right: $md;
  }
  .arrows {
    margin-left: auto;
    width: min-content;
    &__next {
      margin-right: 0;
    }
  }
  .mobileBar {
    display: inline-block;
  }

  .practices {
    position: relative;
    z-index: 2;
    &__tabs {
      flex-direction: column;
      align-items: stretch;
      font-size: 16px;
      width: 100%;
      margin-bottom: $md;
    }
    &__absolute {
      height: $md * 2;
    }
    &__content {
      min-width: 100%;
      max-width: 0;
      margin-bottom: $md;
      font-size: 16px;
    }

    &__img {
      display: none;
      z-index: 1;
      opacity: 0.2;
      width: 100%;
      right: 53%
    }
  }
  .prices {
    &__header {
      padding: $md;
    }
    &__content {
      margin: 0 $md;
      p {
        margin: $base * 2 0;
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .nav {
    width: calc(100vw + 50px);
  }
  .practices {
    &__description {
      font-size: 14px;
      br {
        display: none;
      }
    }
  }
  .practices {
    &__contentWrapper {
      margin-bottom: $md;
    }
    &__tab, &__content, &__bottom {
      font-size: 14px;
    }
  }
  .prices {
    p {
      font-size: 14px;
    }
    &__title {
      span {
        display: inline-block;
      }
    }
    &__wrapper {
      margin: 0;
      padding: 0;
    }
    &__card {
      margin: 0 -#{$md};
      width: 100vw;
      max-width: 100vw;
      border: none;
    }
    &__header {
      padding-top: $lg;
    }
    &__titleText, &__titleIcon {
      display: none;
    }
    &__heading {
      margin-left: 0;
    }
    &__content {
      margin: 0;
      padding: $sm 0;
      background: rgba(0,0,0,.015);
      li {
        padding: 0 $md;
        margin: 0;
        &:first-child {
          margin-top: 0;
        }
      }
      .button {
        margin: $md auto;
      }
    }
  }
}